
*, *::before, *::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: var(--fw-bold);
}
ul {
  list-style: none;
}

a {
  color: initial;
  text-decoration: none;
  display: inline-block;
}
a:not(class) {
  color: var(--text-accent);
}
