:root {
  --ff-default: "Inter", sans-serif;
  --fw-base: 400;
  --fw-bold: 700;

  --Lime-Green: hsl(163, 72%, 41%);
  --BrightRed: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(to left ,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --blue-900: hsl(230, 17%, 14%);
  --blue-800: hsl(232, 19%, 15%);
  --blue-700: hsl(228, 28%, 20%);
  --blue-600: hsl(230, 27%, 29%);
  --blue-500: hsl(228, 12%, 44%);
  --blue-400: hsl(228, 12%, 44%);
  --blue-300: hsl(228, 34%, 66%);
  --blue-200: hsl(227, 47%, 96%);
  --blue-100: hsl(225, 100%, 98%);
  --White: hsl(0, 0%, 100%);

 
}

html[data-theme="dark"] {
  --cls-text: var(--White);
  --text-accent: var(--blue-300);
  --cls-bg: var(--blue-900);
  --cls-pattern: var(--blue-800);
  --cls-card: var(--blue-700);
  --cls-card-hover: var(--blue-600);
  --Toggle: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --box-shadow:0 0 0.5rem 0.1rem hsla(231, 36%, 18%, 0.824);
}

html[data-theme="light"] {
  --cls-text: var(--blue-900);
  --text-accent: var(--blue-400);
  --cls-bg: var(--White);
  --cls-pattern: var(--blue-100);
  --cls-card: var(--blue-100);
  --cls-card-hover: var(--blue-200);
  --Toggle: hsl(230, 22%, 74%);
  --box-shadow:0 0.1rem 0.5rem 0.1rem rgb(212, 221, 253);
}

body {
  font-family: var(--ff-default);
  font-weight: var(--fw-base);
  background-color: var(--cls-bg);
  color: var(--cls-text);
  min-height: 100vh;
}




.wrapper {
  max-width: 85rem;
  padding-inline: 2rem;
  margin-inline: auto;
}

.primary-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 2rem;
  margin-block-end: 1rem;
  background-color: var(--cls-bg);
  position: relative;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    text-align: start;
    width: 100%;
}

.title > h1 {
    font-size: calc(2.5vw * 2.13);
    font-weight: var(--fw-bold);
} 

.title > p {
    color: var(--text-accent);
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}



.switcher-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: calc(1rem + 1vw);
}



@media (min-width: 45rem) {
    .primary-header {
      flex-direction: row;
      align-items: center;
    }
    .title > h1 {
    font-size: calc(2.55vw * 1.33);

    }
    .switcher-wrapper {
        justify-content: flex-end;
    }
  }
  

.switcher {
  width: 4rem;
  height: 1.6rem;
  background: var(--Toggle);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0.25rem;
  transition: all 500ms ease-in-out;
  border-radius: 5rem;
}

.theme-switcher {
  background: none;
  border: none;
  outline: none;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.theme-switcher::after {
  content: "";
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 100%;
  left: 0;
  top: 0.25rem;
  transform: translateY(-.25rem);
  background-color: var(--cls-bg);
  transition: all 500ms ease-in-out;
}

.theme-switcher[aria-label="light"]::after {
  right: 0;
  left: 70%;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.card {
  background-color: var(--cls-card);
  padding: 1.3rem 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
  box-shadow: var(--box-shadow);
  border-top: solid .4em  transparent;
}

.card:hover {
  transform: translateY(-1rem);
  background-color: var(--cls-card-hover);
  border-top: solid .15em transparent;

}

.card[aria-label="facebook"] {
  border-color: var(--Facebook);
}


.card[aria-label="twitter"] {
  border-color: var(--Twitter);
}

.card[aria-label="instagram"] {

  border-image:2  var(--Instagram) ;
}

.card[aria-label="youtube"] {
  border-color: var(--YouTube);
}


.card-link {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    transition: all 300ms ease-in-out;
}

.card-link:hover, .card-link:focus {
  transform: scale(1.5);
}

.card-value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card-value > span:nth-child(1) {
  font-size: 2.5rem;
}

.card-value > span:nth-child(2) {
  letter-spacing: .2rem;
  font-size: 0.95rem;
  font-weight: var(--fw-base);
  color: var(--text-accent);
}


.card-rank {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: var(--fw-base);
  font-size: 0.75rem;
}

[data-up] {
  color: var(--Lime-Green);
}

[data-down] {
  color: var(--BrightRed);
}

@media (39rem <= width <= 65rem) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 65.00000001rem) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* overview List */

.overview > h2 {
  text-align: start;
  padding-block: 1rem;
  margin-block-end: 2rem;
}

.overview-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.list-item  {
  background-color: var(--cls-card);
  padding: 1.3rem 1.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-radius: 0.5rem;
  transition: all 300ms ease-in-out;
  box-shadow: var(--box-shadow);
}

.list-item:hover {
  transform: translateY(-.25rem);
  background-color: var(--cls-card-hover);
}





.list-link, .list-rank {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list-rank {
  font-size: 1.75rem;
}

.list-rank-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

@media (39rem <= width <= 65rem) {
  .overview-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 65.00000001rem) {
  .overview-list {
    grid-template-columns: repeat(4, 1fr);
  }
}


.attribution {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}



.fadeIn {
  animation: fadeIn 5000ms linear;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
  
}